{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="data:,">
    <title>FinalReport</title>	
	{% include 'utilities-css.html' %}	
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
					<div class="card-header py-3">
                        <center><h3 class="m-0 font-weight-bold text-primary">FinalReport</h3></center>
                    </div>
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Report No <span class="badge badge-secondary">{{ data.2}}</span> MP No <span class="badge badge-secondary">{{ data.3}}</span></h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-1">
									StagingId
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.StagingId }}
								</div>
								<div class="form-group col-md-1">
									clinicalId
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.clinicalId }}
								</div>
								<div class="form-group col-md-1">
									ReportId
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.ReportId }}
								</div>
								<div class="form-group col-md-1">
									SampleName
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.SampleName }}
								</div>
								<div class="form-group col-md-1">
									Version
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.Version }}
								</div>
								<div class="form-group col-md-1">
									Signatures
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.Signatures.Signature.OpName }}
								</div>
							</div>
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">PMI</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-1">
									FullName
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.FullName}}
								</div>
								<div class="form-group col-md-1">
									SubmittedDiagnosis
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.SubmittedDiagnosis}}
								</div>
								<div class="form-group col-md-1">
									Gender
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.Gender}}
								</div>
								<div class="form-group col-md-1">
									OrderingMD
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.OrderingMD}}
								</div>
								<div class="form-group col-md-1">
									OrderingMDId
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.OrderingMDId}}
								</div>
								<div class="form-group col-md-1">
									MedFacilName
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.MedFacilName}}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-1">
									MedFacilID
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.MedFacilID}}
								</div>
								<div class="form-group col-md-1">
									SpecSite
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.SpecSite}}
								</div>
								<div class="form-group col-md-1">
									CollDate
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.CollDate}}
								</div>
								<div class="form-group col-md-1">
									ReceivedDate
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.ReceivedDate}}
								</div>
								<div class="form-group col-md-1">
									CountryOfOrigin
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.CountryOfOrigin}}
								</div>
								<div class="form-group col-md-1">
									ReportId
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.PMI.ReportId}}
								</div>
							</div>
                        </div>
                    </div>

					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Summaries</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-1">
									alterationCount
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.Summaries.alterationCount}}
								</div>
								<div class="form-group col-md-1">
									clinicalTrialCount
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.Summaries.clinicalTrialCount}}
								</div>
								<div class="form-group col-md-1">
									resistiveCount
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.Summaries.resistiveCount}}
								</div>
								<div class="form-group col-md-1">
									sensitizingCount
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.FinalReport.Summaries.sensitizingCount}}
								</div>
							</div>
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme">VariantProperties</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="collapseme" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th>GeneName</th>
                                            <th>isVUS</th>
											<th>variantName</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>GeneName</th>
                                            <th>isVUS</th>
											<th>variantName</th>
                                        </tr>
                                    </tfoot><div class="collapse out" id="collapseme">
                                    <tbody>
										{% for VariantProperty in data.1.ResultsReport.ResultsPayload.FinalReport.VariantProperties.VariantProperty %}
										<tr>
											<td><div class="collapse out" id="collapseme"><a href="https://www.oncokb.org/gene/{{ VariantProperty.geneName }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ VariantProperty.geneName }}</a></div></td>
											<td><div class="collapse out" id="collapseme">{{ VariantProperty.isVUS }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ VariantProperty.variantName }}</div></td>										
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme1">Genes</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="collapseme1" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="col-sm-1">GeneName</th>
                                            <th class="col-sm-1">Include</th>
											<th class="col-sm-1">Alteration</th>
											<th class="col-sm-1">isEquivocal</th>
											<th class="col-sm-9">Interpretation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>GeneName</th>
                                            <th>Include</th>
											<th>Alteration</th>
											<th>isEquivocal</th>
											<th>Interpretation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for Gene in data.1.ResultsReport.ResultsPayload.FinalReport.Genes.Gene %}
										<tr>										
											<td><div class="collapse out" id="collapseme1">{{ Gene.Name }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ Gene.Include }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ Gene.Alterations.Alteration.Name }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ Gene.Alterations.Alteration.AlterationProperties.AlterationProperty.isEquivocal }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ Gene.Alterations.Alteration.Interpretation }}</div></td>								
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme2">Trials</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="collapseme2" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="col-sm-1">Gene</th>
                                            <th class="col-sm-1">Alteration</th>
											<th class="col-sm-1">Title</th>
											<th class="col-sm-1">StudyPhase</th>
											<th class="col-sm-1">Target</th>
											<th class="col-sm-2">Locations</th>
                                            <th class="col-sm-1">NCTID</th>
											<th class="col-sm-3">Note</th>
											<th class="col-sm-1">Include</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th class="col-sm-1">Gene</th>
                                            <th class="col-sm-1">Alteration</th>
											<th class="col-sm-1">Title</th>
											<th class="col-sm-1">StudyPhase</th>
											<th class="col-sm-1">Target</th>
											<th class="col-sm-2">Locations</th>
                                            <th class="col-sm-1">NCTID</th>
											<th class="col-sm-3">Note</th>
											<th class="col-sm-1">Include</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for Trial in data.1.ResultsReport.ResultsPayload.FinalReport.Trials.Trial %}
										<tr>										
											<td><div class="collapse out" id="collapseme2">{{ Trial.Gene }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.Alteration }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.Title }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.StudyPhase }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.Target }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.Locations }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.NCTID }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.Note }}</div></td>
											<td><div class="collapse out" id="collapseme2">{{ Trial.Include }}</div></td>
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme3">reportProperties</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="collapseme3" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="col-sm-1">identifier</th>
                                            <th class="col-sm-1">key</th>
											<th class="col-sm-1">value</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th class="col-sm-1">identifier</th>
                                            <th class="col-sm-1">key</th>
											<th class="col-sm-1">value</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for reportProperty in data.1.ResultsReport.ResultsPayload.FinalReport.reportProperties.reportProperty %}
										<tr>										
											<td><div class="collapse out" id="collapseme3">{{ reportProperty.identifier }}</div></td>
											<td><div class="collapse out" id="collapseme3">{{ reportProperty.key }}</div></td>
											<td><div class="collapse out" id="collapseme3">{{ reportProperty.value }}</div></td>
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme4">References</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="col-sm-1">number</th>
                                            <th class="col-sm-1">ReferenceId</th>
											<th class="col-sm-4">FullCitation</th>
											<th class="col-sm-1">Include</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>number</th>
                                            <th>ReferenceId</th>
											<th>FullCitation</th>
											<th>Include</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for Reference in data.1.ResultsReport.ResultsPayload.FinalReport.References.Reference %}
										<tr>										
											<td><div class="collapse out" id="collapseme4">{{ Reference.number }}</td>
											<td><div class="collapse out" id="collapseme4"><a href="https://pubmed.ncbi.nlm.nih.gov/{{ Reference.ReferenceId }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ Reference.ReferenceId }}</a></div></td>
											<td><div class="collapse out" id="collapseme4">{{ Reference.FullCitation }}</div></td>
											<td><div class="collapse out" id="collapseme4">{{ Reference.Include }}</div></td>
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>					

				</div>
			</div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022 WiAdvance Technology Co. All Rights Reserved.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		
	</div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
{% include 'utilities-js.html' %}    
</body>

</html>