{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="data:,">
    <title>VariantReport</title>	
	{% include 'utilities-css.html' %}	
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
					<div class="card-header py-3">
                        <center><h3 class="m-0 font-weight-bold text-primary">VariantReport</h3></center>
                    </div>
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Report No <span class="badge badge-secondary">{{ data.2}}</span> MP No <span class="badge badge-secondary">{{ data.3}}</span></h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-1">
									xmlns
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.xmlns }}
								</div>
								<div class="form-group col-md-1">
									disease
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.disease }}
								</div>
								<div class="form-group col-md-1">
									disease_ontology
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.disease_ontology }}
								</div>
								<div class="form-group col-md-1">
									flowcell_analysis
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.flowcell_analysis }}
								</div>
								<div class="form-group col-md-1">
									gender
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.gender }}
								</div>
								<div class="form-group col-md-1">
									pathology_diagnosis
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.pathology_diagnosis }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-1">
									percent_tumor_nuclei
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.percent_tumor_nuclei }}
								</div>
								<div class="form-group col-md-1">
									pipeline_version
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.pipeline_version }}
								</div>
								<div class="form-group col-md-1">
									purity_assessment
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.purity_assessment }}
								</div>
								<div class="form-group col-md-1">
									specimen
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.specimen }}
								</div>
								<div class="form-group col-md-1">
									study
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.study }}
								</div>
								<div class="form-group col-md-1">
									test_request
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.test_request }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-1">
									study
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.study }}
								</div>
								<div class="form-group col-md-1">
									test_request
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.test_request }}
								</div>
								<div class="form-group col-md-1">
									test_type
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.test_type }}
								</div>
								<div class="form-group col-md-1">
									tissue_of_origin
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.tissue_of_origin }}
								</div>
								<div class="form-group col-md-1">
									xsischemaLocation
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.xsischemaLocation }}
								</div>
								<div class="form-group col-md-1">
									quality_control status
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.quality_control.status }}
								</div>
							</div>
							
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">samples</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-1">
									bait_set
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.samples.sample.bait_set }}
								</div>
								<div class="form-group col-md-2">
									mean_exon_depth
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.samples.sample.mean_exon_depth }}
								</div>
								<div class="form-group col-md-1">
									name
								</div>
								<div class="form-group col-md-2">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.samples.sample.name }}
								</div>
								<div class="form-group col-md-1">
									nucleic_acid_type
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.samples.sample.nucleic_acid_type }}
								</div>
																<div class="form-group col-md-2">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.samples.sample.name }}
								</div>
								<div class="form-group col-md-2">
									non_human_content
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.non_human_content }}
								</div>
							</div>
							
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">biomarkers</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-2">
									microsatellite_instability
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.biomarkers.microsatellite_instability.status }}
								</div>
								<div class="form-group col-md-2">
									tumor_mutation_burden_score
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.biomarkers.tumor_mutation_burden.score }}
								</div>
								<div class="form-group col-md-1">
									status
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.biomarkers.tumor_mutation_burden.status }}
								</div>
								<div class="form-group col-md-1">
									unit
								</div>
								<div class="form-group col-md-2">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.biomarkers.tumor_mutation_burden.unit }}
								</div>
							</div>
							
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">rearrangements</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
								<div class="form-group col-md-1">
									description
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.description }}
								</div>
								<div class="form-group col-md-1">
									equivocal
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.equivocal }}
								</div>
								<div class="form-group col-md-1">
									in_frame
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.in_frame }}
								</div>
								<div class="form-group col-md-1">
									other_gene
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.other_gene }}
								</div>
								<div class="form-group col-md-1">
									pos1
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.pos1 }}
								</div>
								<div class="form-group col-md-1">
									pos2
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.pos2 }}
								</div>
								<div class="form-group col-md-1">
									status
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.status }}
								</div>
								<div class="form-group col-md-1">
									supporting_read_pairs
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.supporting_read_pairs }}
								</div>
								<div class="form-group col-md-1">
									targeted_gene
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.targeted_gene }}
								</div>
								<div class="form-group col-md-1">
									type
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.type }}
								</div>
								<div class="form-group col-md-1">
									dna_evidence
								</div>
								<div class="form-group col-md-1">
									{{ data.1.ResultsReport.ResultsPayload.variant_report.rearrangements.rearrangement.dna_evidence.sample }}
								</div>
							</div>
							
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme1">copy_number_alterations</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-striped">
                                <table class="table table-bordered" id="collapseme1" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="col-sm-1">copy_number</th>
                                            <th class="col-sm-1">equivocal</th>
											<th class="col-sm-1">gene</th>
											<th class="col-sm-1">number_of_exons</th>
											<th class="col-sm-1">position</th>
											<th class="col-sm-1">ratio</th>
											<th class="col-sm-1">status</th>
											<th class="col-sm-1">type</th>
											<th class="col-sm-1">dna_evidence</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th class="col-sm-1">copy_number</th>
                                            <th class="col-sm-1">equivocal</th>
											<th class="col-sm-1">gene</th>
											<th class="col-sm-1">number_of_exons</th>
											<th class="col-sm-1">position</th>
											<th class="col-sm-1">ratio</th>
											<th class="col-sm-1">status</th>
											<th class="col-sm-1">type</th>
											<th class="col-sm-1">dna_evidence</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for copy_number_alteration in data.1.ResultsReport.ResultsPayload.variant_report.copy_number_alterations.copy_number_alteration %}
										<tr>										
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.copy_number }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.equivocal }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.gene }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.number_of_exons }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.position }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.ratio }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.status }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.type }}</div></td>
											<td><div class="collapse out" id="collapseme1">{{ copy_number_alteration.dna_evidence.sample }}</div></td>						
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
							<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseme">short_variants</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-striped">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="col-sm-1">allele_fraction</th>
                                            <th class="col-sm-1">cds_effect</th>
											<th class="col-sm-1">depth</th>
											<th class="col-sm-1">equivocal</th>
											<th class="col-sm-1">functional_effect</th>
											<th class="col-sm-1">gene</th>
											<th class="col-sm-1">percent_reads</th>
											<th class="col-sm-1">position</th>
											<th class="col-sm-1">status</th>
											<th class="col-sm-1">strand</th>
											<th class="col-sm-1">transcript</th>
											<th class="col-sm-1">dna_evidence_sample</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th class="col-sm-1">allele_fraction</th>
                                            <th class="col-sm-1">cds_effect</th>
											<th class="col-sm-1">depth</th>
											<th class="col-sm-1">equivocal</th>
											<th class="col-sm-1">functional_effect</th>
											<th class="col-sm-1">gene</th>
											<th class="col-sm-1">percent_reads</th>
											<th class="col-sm-1">position</th>
											<th class="col-sm-1">status</th>
											<th class="col-sm-1">strand</th>
											<th class="col-sm-1">transcript</th>
											<th class="col-sm-1">dna_evidence_sample</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for short_variant in data.1.ResultsReport.ResultsPayload.variant_report.short_variants.short_variant %}
										<tr>										
											<td><div class="collapse out" id="collapseme">{{ short_variant.allele_fraction }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.cds_effect }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.depth }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.equivocal }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.functional_effect }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.gene }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.percent_reads }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.position }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.status }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.strand }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.transcript }}</div></td>
											<td><div class="collapse out" id="collapseme">{{ short_variant.dna_evidence.sample }}</div></td>						
										</tr>
										{% endfor %}	
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

				</div>
			</div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022 WiAdvance Technology Co. All Rights Reserved.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		
	</div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
{% include 'utilities-js.html' %}    
</body>

</html>